.business {
  background: url('../../assets/business.png') center center/cover;

  padding: 60px 40px;
}

.business p {
  margin: 33px 0 44px 0;
}

.safety {
  padding: 60px 40px;
}

.safety h3 {
  margin-bottom: 40px;
}

.flex {
  display: flex;
  gap: 30px;
}

.safety .flex > div {
  width: 100%;
}

.safety .flex > div > h4 {
  margin-top: 20px;
  font-size: 19px;
  font-weight: 400;
}

.safety .flex > div > p {
  margin: 20px 0 40px 0;
  color: rgb(94, 94, 94);
}

.safety img {
  width: 100%;
}

.safety .grid_3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 100px;
}

.safety .grid_3 .icon {
  font-size: 28px;
}

.safety .grid_3 h4 {
  font-size: 20px;
  font-weight: 500;
  margin: 16px 0;
}

.safety .grid_3 p {
  margin-bottom: 44px;
  color: rgb(94, 94, 94);
}

@media (max-width: 1080px) {
  .business {
    padding: 50px 24px 40px;
  }
  .business p {
    margin: 20px 0 28px 0;
  }

  .safety {
    padding: 40px 24px;
  }

  .safety .flex {
    display: block;
  }
  .safety .flex > div {
    margin-bottom: 36px;
  }

  .safety .grid_3 {
    grid-template-columns: repeat(1, 1fr);
    gap: 36px;
    margin-top: 80px;
  }
}
